@font-face {
  font-family: "Druke Wide Bold";
  src: url("../../public/fonts/Druk-Wide-Bold.ttf");
}

body {
  background-color: black;
  background-image: url("/home-page-wave.svg");
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading {
  font-family: "Druke Wide Bold";
}

::placeholder {
  font-family: "Druke Wide Bold";
  font-size: 13px;
}
