.hero__cover {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  background-image: url("/home-page-wave.svg");
}

.heading {
  font-family: "Druke Wide Bold";
  color: white;
  font-size: 4rem;
  vertical-align: middle;
}

.button {
  color: white;
  font-family: "Press Start 2P";
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
  height: 40px;
  width: 300px;
  font-weight: 500 !important;
  font-size: 1rem;
  transition: all 100ms ease-in-out;
  margin: 1rem;
}

.button:hover {
  background-color: white;
}

.link {
  text-decoration: none;
  color: white;
  height: 100%;
  width: 100%;
  transition: all 100ms ease-in-out;
}

.link:hover {
  color: black;
}
