.heading {
  font-family: "Druke Wide Bold";
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 50px;
  vertical-align: middle;
  height: 100%;
}

.special {
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  color: white;
  font-family: "Druke Wide Bold";
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
  height: 40px;
  width: 300px;
  font-weight: 500 !important;
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
  align-self: center;
  font-size: 20px;
}

.special1 {
  height: 100%;
}

.link {
  text-decoration: none;
  color: white;
}
