.nav {
  position: absolute;
  right: 0;
}

.ul {
  display: flex;
  justify-content: right;
  align-items: center;
  text-decoration: none;
  list-style: none;
  margin-top: 30px;
  font-family: "Inter";
  font-size: 15px;
  background-color: transparent;
}

.ul .li {
  margin-left: 15px;
  margin-right: 15px;
  color: white;
}

.button {
  background-color: white;
  border: none;
  margin-right: 15px;
  font-family: "Inter";
  border-radius: 3px;
  font-size: 15px;
  margin-top: auto;
  float: none;
  padding: 7px 15px;
}

.link {
  text-decoration: none;
  color: white;
}

.link1 {
  text-decoration: none;
  color: black;
}
